<p id="notice"><%= notice %></p>

<h1>Listing Scorecards</h1>

<table>
  <thead>
    <tr>
      <th>Strokes</th>
      <th>Course</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scorecards.each do |scorecard| %>
      <tr>
        <td><%= scorecard.strokes %></td>
        <td><%= scorecard.course_id %></td>
        <td><%= scorecard.player_id %></td>
        <td><%= link_to 'Show', scorecard %></td>
        <td><%= link_to 'Edit', edit_scorecard_path(scorecard) %></td>
        <td><%= link_to 'Destroy', scorecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scorecard', new_scorecard_path %>
