<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Terrain:</strong>
  <%= @course.terrain %>
</p>

<p>
  <strong>Holes:</strong>
  <%= @course.holes %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
